/* Page header and body */
body {
    margin: 0;

    --bg-color: rgb(244, 247, 252);
    --main-color: rgb(37, 71, 46);
    --main-color-hl: rgb(64, 116, 75);

    --main-color-light: rgb(90, 160, 105);
    --main-color-light-hl: rgb(64, 116, 75);

    --input-bg-color: rgb(220, 220, 220);
    --input-hint-color: rgb(80, 80, 80);
    --accent-color: rgb(165, 244, 255);

    --success-color: rgb(97, 187, 61);
    --error-color: rgb(255, 0, 0);
  
  
    background-color: var(--bg-color);
    /*background-image: url("icon.png");*/

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  

#pagetop {
    background-color: var(--main-color);
}

#pagetop h1 {
    padding: 0.5em;
}

#pagetop a {
    color: white;
    font-weight: bold;
}

#pagetop span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 80em;    
}

#pagetop nav li {
    display: inline;
    list-style-type: none;
    color: white;
    margin: 0.25em;
}

#pagetop #loggeduser {
    color: var(--accent-color);
    font-weight: bold;
}

#pagetop #logoutbutton {
    padding: 0.5em;
    background-color: var(--main-color-light);
    transition: background-color 200ms ease-in-out;
}

#pagetop #logoutbutton:hover {
    background-color: var(--main-color-light-hl);
}

#messages {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    
}

#messages .success {
    padding: 0.5em;
    background-color: var(--success-color);
}

#messages .error {
    padding: 0.5em;
    background-color: var(--error-color);
}


/* Generic */
html {
    scroll-behavior: smooth;
}

h1, h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

input, label {
    display: block;
}


input[type="text"], input[type="password"], select{
    box-sizing: border-box;  
    font-size: 1em;
    padding: 0.75em;
    background-color:  var(--input-bg-color);
    border-radius: 10px;
    border: none;
}

input::placeholder {
    color:  var(--input-hint-color);
}

input:focus {
    outline: none;
}

/* Forms */

.genericForm {
    box-shadow: 0px 1px 5px  rgba(0,0,0,0.75);
    background-color: white;
    padding: 1em 2em;
}

.genericForm header {
    text-align: center;
    padding: 1em;
}

.genericForm label {
    font-weight: bold;
}

.genericForm input[type="submit"] {
    cursor: pointer;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 999px;
    margin-bottom: 1em;
    padding: 0.25em;

    transition: background-color 200ms ease-in-out;
}

.genericForm input[type="submit"]:hover {
    background-color: var(--main-color-hl);
}


/* Authentication */

#login, #signup {
    margin: 1em auto;
    max-width: 30em;
}

#login input, #signup input {
    width: 100%;   
    margin-bottom: 3em; 
    margin-top: 0.5em;
}

#login input[type="submit"], #signup input[type="submit"] {
    font-size: 1.5em;
    text-transform: uppercase;
}

#login footer a, #signup footer a {
    color: var(--main-color);
    font-weight: bold;
}

/* Edit profile */

#editProfile {
    display: grid;
    margin: 1em auto;
    max-width: 60em;
}

#editProfile header {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#editProfile #editInfo {
    grid-column: 1;
    grid-row: 2;
}

#editProfile #editCredentials {
    grid-column: 2;
    grid-row: 2;
}

#editProfile input, #editProfile select {
    width: 50%;
    margin-bottom: 0.75em; 
    margin-top: 0.3em;
}

#editProfile label {
    text-decoration: underline;
}

#editProfile input[type="submit"] {
    font-size: 1.25em;
}


/* Houses */

#houses{
    padding: 2em;
}

#houses > ul{
    padding-left: 0px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1em;
}

#houses > ul > li {
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: .5em;
    
}

#houses > ul > li > figure{
    margin:0;
}

#houses > ul > li > figure{
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    position: relative;
}

#houses > ul > li > figure > img {
    width: 100%;
}

#houses > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

#houses > ul > li > figure > figcaption > h3 {
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    margin:0;
    color: white;
    padding: .75em;
    font-size: 1.25em;
}
#houses > ul > li > figure > figcaption > h3:hover {
    white-space: normal; 
}
#houses > ul > li > p {
    margin :0;
    padding: .75em;
}

#houses > ul > li > .price:after{
    content:"€/day";
}

