/* Page header and body */
:root {
    margin: 0;

    --bg-color: rgb(244, 247, 252);
    --bg-color-2: rgb(235, 235, 235);
    --main-color: #455A64;
    --main-color-hl: #78909c;

    --main-color-light: #546e7a;
    --main-color-light-hl: #37474f;

    --input-bg-color: rgb(200, 200, 200);
    --input-hint-color: rgb(80, 80, 80);
    --secondary-color-hl: rgb(179, 149, 137);
    --secondary-color: #966c57;

    --text-color:rgb(0,0,0);
    --text-color-2:rgb(240,240,240);

    --success-color: rgb(97, 187, 61);
    --error-color: rgb(225, 0, 0);

    --simple-shadow: 0px 1px 5px  rgba(0,0,0,0.75);
    --simple-shadow-hl: 0px 1px 15px rgba(0,0,0,0.75);
    --strong-shadow: 0px 0px 10px  rgba(0,0,0,0.5);

}

[data-theme="dark"] {
    --bg-color: rgb(12, 12, 12);
    --bg-color-2: rgb(30, 30, 30);
    --main-color: rgb(40, 40, 40);;
    --main-color-hl: #b0bec5;

    --main-color-light: #546e7a;
    --main-color-light-hl: #37474f;

    --input-bg-color: rgb(50, 50, 50);
    --input-hint-color: rgb(80, 80, 80);
    --secondary-color-hl: rgb(179, 149, 137);
    --secondary-color: #966c57;

    --text-color:rgb(240,240,240);
    --text-color-2:rgb(240,240,240);

    --success-color: rgb(97, 187, 61);
    --error-color: rgb(225, 0, 0);

    --simple-shadow: 0px 1px 5px  rgba(0,0,0,0.75);
    --simple-shadow-hl: 0px 1px 15px rgba(0,0,0,0.75);
    --strong-shadow: 0px 0px 10px  rgba(68, 47, 47, 0.5);
}

body{
    margin:0;
    color: var(--text-color);
    background-color: var(--bg-color);
    /*
    background-image: url("hoss.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    */

    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}


#pagebanner {
    background-color: var(--main-color);
}

#pagetop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 80em;    
}

#pagetop h1 {
    padding: 0.5em;
    color: var(--text-color-2);
}

#pagetop h1 small {
    display: block;
    font-size: 0.5em;
}

#pagetop a {
    font-weight: bold;
}

#pagetop nav > ul > li {
    display: inline;
    color: var(--text-color-2);
    margin: 0.25em;
}

#pagetop #notifications {
    color: white;
    position: relative;
    margin: 0 1em; 
}

#pagetop #notificationBell {
    font-size: 1.75em;   
    cursor: pointer;
}

#pagetop #notificationNum {
    position: absolute;
    top: -20px; right: -10px;  
    border-radius: 50%;
    padding: 0.2em;
    width: 1.5em; height: 1.5em; line-height: 1.5em;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 0, 0, 1);
}

#pagetop #notificationList {
    display: none;
    position: absolute;
    top: 20px; right: 10px;
    z-index: 3;
    width: 25em;
    max-height: 40em;
    overflow: auto;
    padding: 0;   
    
    color: var(--text-color);
    box-shadow: var(--simple-shadow);
    background-color: var(--bg-color);
}

#notificationList li {
    display: grid;
    align-items: center;
    border-bottom: 1px solid black;
    grid-template-columns: 4fr 1fr;    
    color: var(--text-color);
}

#notificationList .notifClickable {    
    justify-self: stretch;
    border-right: 1px solid grey;
}

#notificationList .notifClickable:hover {
    color: var(--main-color-light);
}

#notificationList .notifContent {
    margin: 1em;
}

#notificationList .notifDate {
    display: block;
    text-align: right;
    margin: 0.75em;
    font-size: 0.75em;
}

#notificationList .notifMarkAsSeen {
    justify-self: center;
    cursor: pointer;
    color: black;
}

#notificationList .notifMarkAsSeen:hover {
    color: red;
}

#notificationList .notifUnseen .notifMarkAsSeen {
    color: red;
}

#notificationList .notifUnseen .notifMarkAsSeen:hover {
    color: black;
}

#notificationList .notifUnseen {
    background-color: rgb(225, 225,225)
}


#pagetop #loggeduser {
    color: var(--secondary-color-hl);
    font-weight: bold;
}

#pagetop #logoutbutton {
    padding: 0.5em;
    background-color: var(--main-color-light);
    transition: background-color 200ms ease-in-out;
}

#pagetop #logoutbutton:hover {
    background-color: var(--main-color-light-hl);
}

#messages {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;    
}

#messages .success {
    padding: 0.5em;
    background-color: var(--success-color);
}

#messages .error {
    padding: 0.5em;
    background-color: var(--error-color);
}

/*Dark theme switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* Generic */
html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

input, label, select, textarea {
    display: block;
    color:var(--text-color);
}


input[type="text"], 
input[type="password"], 
input[type="date"],
input[type="number"], 
textarea, 
select {
    box-sizing: border-box;  
    font-size: 1em;
    padding: 0.75em;
    background-color:  var(--input-bg-color);
    border-radius: 10px;
    border: none;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

input::placeholder,
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
    font-size: 1em;
    color: var(--text-color);
}

input:focus {
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    background:  var(--input-bg-color);
    height: 0.75em;
    border-radius: 10px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: var(--main-color-hl);
    width: 1.5em; 
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    background: var(--main-color);
    width: 1.5em; 
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
    color: white;
    background-color: var(--main-color-light);
    border: none;

    transition: background-color 200ms ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--main-color-light-hl);
}

.hidden {
    display: none;
}

.priceTag .priceValue {
    display: inline;
    font-size: 1.25em;
}

.priceTag .priceCurrency {
    display: inline;
    font-size: 1em;
}

/* Forms */

.genericForm {
    box-shadow: var(--simple-shadow);
    background-color: var(--bg-color-2);
    padding: 1em 2em;
}

.genericForm header {
    text-align: center;
    padding: 1em;
}

.genericForm label {
    font-weight: bold;
}

.genericForm  input[type="submit"] {
    border-radius: 999px;
    margin-bottom: 1em;
    padding: 0.25em;
}

/* Authentication */

#login, #signup {
    margin: 1em auto;
    max-width: 30em;
}

#login input, #signup input {
    width: 100%;   
    margin-bottom: 3em; 
    margin-top: 0.5em;
}

#login input[type="submit"], #signup input[type="submit"] {
    font-size: 1.5em;
    text-transform: uppercase;
}

#login footer a, #signup footer a {
    color: var(--main-color-hl);
    font-weight: bold;
}

/* Profile  */

#profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 5em 2em 1fr;
    grid-template-areas: 
    " none   item"
    " header item"
    " nav    item";
    margin: 1em auto;
    max-width: 80em;
}

#profile header {
    grid-area: header;
    justify-self: center;
}

#profile .profileTab {
    grid-area: item;
    max-width: 50em;
    margin: 1em;
}

#profile nav {
    grid-area: nav;
    justify-self: center;
}


#profile nav li {
    font-size: 1.25em;
    padding: 1em;
    cursor: pointer;
    color: black;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    background-color: var(--input-bg-color);
}

#profile nav li:first-child {
    border-radius: 5px 5px 0 0;
}

#profile nav li:last-child {
    border-radius: 0 0 5px 5px ;
}

#profile nav li:hover,
#profile nav li.selectedTab {
    color: white;
    background-color: var(--main-color);    
}


/* Edit profile */

#editProfile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;    
}

#editProfile h3 {
    margin: 0 0 1em 0;
}
#editProfile header {
    grid-area: 1 / 1 / span 1 / span 2;
}

#editProfile #editInfo {
    grid-area: 2 / 1;
    padding: 0 2em;
    border-right: 1px solid black;
    margin: 1em 0;
}

#editProfile #editCredentials {
    grid-area: 2 / 2;
    padding: 0 2em;
    margin: 1em 0;
}

#editProfile input, #editProfile select {
    width: 100%;
    margin-bottom: 0.75em; 
    margin-top: 0.3em;
}

#editProfile label {
    text-decoration: underline;
}

#editProfile input[type="submit"] {
    font-size: 1.25em;
}

/*Add House*/

#addHouse input[type="text"],
#addHouse input[type="number"],
#addHouse select,
#addHouse textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

#addHouse #localization,
#addHouse #details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

#addHouse #description {
    height: 10em;
    box-sizing: border-box;
    resize: none;
}

#addHouse input[type="submit"] {
    font-size: 1.25em;
    width: 25%;
    margin-bottom: 0.75em;
    margin-top: 0.3em;


}

/*Remove arrows from input type number*/

/*
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; 
}
*/
[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }

[type="file"] + label {
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1rem;
    outline: none;
    padding: 0.4em;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
}   
[type="file"] + label {
    background-color: var(--main-color-light);
    border-radius: 50px;
    overflow: hidden;
}

[type="file"] + label:hover {
    background-color: var(--main-color-light-hl);
}


  
  

#result {
    display: grid;
    grid-template-columns: repeat(auto-fit, 9em);
    grid-gap: 10px;
    align-items: center;
    padding:0;
}
#result img{
    width:9em;
    height:9em;
    vertical-align: top;
}
 

/* Houses */

#houses{
    margin: 1em auto;
    max-width: 85em;
}

#houses > ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 20em);
    gap: 1em;
    padding: 0;
}

#houses li {
    background-color: var(--bg-color-2);
    border: 2px solid var(--main-color);
    border-radius: 1em; 
    box-shadow: var(--simple-shadow); 
    transition: all 0.2s ease-in-out;
}

#houses li:hover {
    box-shadow: var(--simple-shadow-hl);    
    color: var(--main-color-hl);
    transform: scale(1.05);
}



#houses figure {
    margin:0;
    max-height: 12em;
    overflow: hidden;
    position: relative;
    border-radius: 0.85em 0.85em 0 0;
}

#houses img {
    width: 100%;
}

#houses figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 0.75em;
}

#houses figcaption h3 {
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    padding: 0.75em;
    font-size: 1.25em;
}

#houses figcaption h3:hover {
    white-space: normal; 
}

#houses .houseInfo {
    padding: 0 0.75em;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.houseInfo .priceTag {
    grid-area: 1 / 1;
    justify-self: start;
}

.houseInfo .houseLocation {
    grid-area: 2 / 1 / 2 / span 2;   
    justify-self: start;
    margin: 0.75em 0;
}

.houseInfo .guestLimit {
    grid-area: 1 / 2;    
    margin: 0.75em 0;
    justify-self: end;
}



/* Search functionality */

#searchButton {
    position: fixed;
    z-index: 2;
    bottom: 2em; right: 3em;

    padding: 1em;
    font-size: 1.25em;
    background-color: var(--secondary-color);
    transition: background-color 200ms ease-in-out;
    
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: var(--strong-shadow);
    cursor: pointer;
}

#searchButton:hover {
    background-color: var(--secondary-color-hl);
}


#searchBackground {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0; top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

#searchDialog {
    max-width: 30em;
    margin: 10% auto;
    border-radius: 3px;
    padding: 2em;
}

#searchDialog h3 {
    margin: 0 0 1em 0;
}

#searchDialog form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#searchDialog #locationField {
    grid-area: 1 / 1 / span 1 / span 2;
}

#searchDialog #startDateField {
    grid-area: 2 / 1;
}

#searchDialog #endDateField {
    grid-area: 2 / 2;
}

#searchDialog #countAdults {
    grid-area: 3 / 1;
}

#searchDialog #countChildren {
    grid-area: 4 / 1;
}

#searchDialog #countBabies {
    grid-area: 5 / 1;
}

#searchDialog #maxPriceSlider {
    grid-area: 3 / 2 / span 3 / 2;
}

#searchDialog input {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#searchDialog input[type="submit"] {
    grid-area: 6 / 1 / span 1 / span 2;

    width: auto;
    padding: 0.5em 1em;
    margin: 1em auto 0 auto;
    border-radius: 3px;
    font-size: 1.25em;
}

#startDate {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid gray;
}

#endDate {
    border-radius: 0 3px 3px 0;
}

#maxPriceSlider .priceTag {
    margin: 0;
    text-align: center;
}

.guestCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guestCounter .counterManager {
    display: flex;
    align-items: center;
}

.guestCounter .count {
    width: 1em;
    text-align: center;
}

.guestCounter .increaseNum, .guestCounter .decreaseNum {
    border-radius: 50%;  
    text-align: center;

    border: 2px solid var(--main-color-hl);
    color:  var(--main-color-hl);
    font-size: 0.6em;    
    padding: 1em;
    margin: 0 1em;    
}

/* House Page */

#house {
	margin: auto;
	max-width: 80em;
}

#house .title {
	margin: 0.2em 0.5em;
	font-weight: bold;
	font-size: 3em; 
	color: var(--main-color-hl);
}

#house .host {
	font-weight: bold;
	margin: 0.2em 0.5em;
}

#house .description {
	background-color: var(--bg-color-2);
	padding: 2em;
	border-radius: 1em;
}

#house #photoCarousel img{
    animation: fade 0.4s linear;
    height: 20em;
    width: 40em;
}

#house #photos {
	position: relative;
	display: inline-block;
	margin: 0 1em 1em 1em;
}

#house #photoCarousel {
    height: 20em;
    width: 40em;
	padding: 0;
	margin: 0;
}

@keyframes fade {
  0% { opacity: 0.8 }
  100% { opacity: 1 }
}

#house #photoLeftButton, #house #photoRightButton{
	position: absolute;
    bottom: 45%;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	background-color: rgba(0,0,0,0.2);
}

#house #photoLeftButton:hover, #house #photoRightButton:hover {
	background-color: rgba(0,0,0,0.8);
}

#house #photoLeftButton{
	left:0%;
	border-radius: 0 3px 3px 0;
}

#house #photoRightButton{
	right:0%;
	border-radius: 3px 0 0 3px;
}
