/* Page header and body */
body {
    margin: 0;

    --bg-color: rgb(244, 247, 252);
    --main-color: rgb(37, 71, 46);
    --main-color-hl: rgb(64, 116, 75);

    --main-color-light: rgb(90, 160, 105);
    --main-color-light-hl: rgb(64, 116, 75);

    --input-bg-color: rgb(220, 220, 220);
    --input-hint-color: rgb(80, 80, 80);
    --accent-color-hl: rgb(165, 244, 255);
    --accent-color: rgb(102, 219, 235);

    --success-color: rgb(97, 187, 61);
    --error-color: rgb(225, 0, 0);

    --simple-shadow: 0px 1px 5px  rgba(0,0,0,0.75);
    --strong-shadow: 0px 0px 10px  rgba(0,0,0,0.5);
  
  
    background-color: var(--bg-color);
    /*
    background-image: url("hoss.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    */

    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
  

#pagetop {
    background-color: var(--main-color);
}

#pagetop h1 {
    padding: 0.5em;
    color: white;
}

#pagetop h1 small {
    display: block;
    font-size: 0.5em;
}

#pagetop a {
    color: inherit;
    font-weight: bold;
}

#pagetop > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 80em;    
}

#pagetop nav > ul > li {
    display: inline;
    color: white;
    margin: 0.25em;
}

#pagetop #notifications {
    color: white;
    position: relative;
    margin: 0 1em; 
}

#pagetop #notificationBell {
    font-size: 1.75em;   
    cursor: pointer;
}

#pagetop #notificationNum {
    position: absolute;
    top: -20px; right: -10px;  
    border-radius: 50%;
    padding: 0.2em;
    width: 1.5em; height: 1.5em; line-height: 1.5em;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 0, 0, 1);
}

#pagetop #notificationList {
    display: none;
    position: absolute;
    top: 20px; right: 10px;
    z-index: 3;
    width: 25em;
    max-height: 40em;
    overflow: auto;
    padding: 0;   
    
    color: black;
    box-shadow: var(--simple-shadow);
    background-color: var(--bg-color);
}

#notificationList li {
    display: grid;
    align-items: center;
    border-bottom: 1px solid black;
    grid-template-columns: 4fr 1fr;    
    color: black;
}

#notificationList .notifClickable {    
    justify-self: stretch;
    border-right: 1px solid grey;
}

#notificationList .notifClickable:hover {
    color: var(--main-color-light);
}

#notificationList .notifContent {
    margin: 1em;
}

#notificationList .notifDate {
    display: block;
    text-align: right;
    margin: 0.75em;
    font-size: 0.75em;
}

#notificationList .notifMarkAsSeen {
    justify-self: center;
    cursor: pointer;
    color: black;
}

#notificationList .notifMarkAsSeen:hover {
    color: red;
}

#notificationList .notifUnseen .notifMarkAsSeen {
    color: red;
}

#notificationList .notifUnseen .notifMarkAsSeen:hover {
    color: black;
}

#notificationList .notifUnseen {
    background-color: rgb(225, 225,225)
}


#pagetop #loggeduser {
    color: var(--accent-color);
    font-weight: bold;
}

#pagetop #logoutbutton {
    padding: 0.5em;
    background-color: var(--main-color-light);
    transition: background-color 200ms ease-in-out;
}

#pagetop #logoutbutton:hover {
    background-color: var(--main-color-light-hl);
}

#messages {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;    
}

#messages .success {
    padding: 0.5em;
    background-color: var(--success-color);
}

#messages .error {
    padding: 0.5em;
    background-color: var(--error-color);
}


/* Generic */
html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input, label {
    display: block;
}


input[type="text"], input[type="password"], input[type="date"], select{
    box-sizing: border-box;  
    font-size: 1em;
    padding: 0.75em;
    background-color:  var(--input-bg-color);
    border-radius: 10px;
    border: none;
}

input::placeholder {
    color: var(--input-hint-color);
}

input:focus {
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    background:  var(--input-bg-color);
    height: 0.75em;
    border-radius: 10px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: var(--main-color);
    width: 1.5em; 
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    background: var(--main-color);
    width: 1.5em; 
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
    color: white;
    background-color: var(--main-color);
    border: none;

    transition: background-color 200ms ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--main-color-hl);
}

.hidden {
    display: none;
}

.priceTag .priceValue {
    display: inline;
    font-size: 1.25em;
}

.priceTag .priceCurrency {
    display: inline;
    font-size: 1em;
}

/* Forms */

.genericForm {
    box-shadow: var(--simple-shadow);
    background-color: white;
    padding: 1em 2em;
}

.genericForm header {
    text-align: center;
    padding: 1em;
}

.genericForm label {
    font-weight: bold;
}

.genericForm  input[type="submit"] {
    border-radius: 999px;
    margin-bottom: 1em;
    padding: 0.25em;
}

/* Authentication */

#login, #signup {
    margin: 1em auto;
    max-width: 30em;
}

#login input, #signup input {
    width: 100%;   
    margin-bottom: 3em; 
    margin-top: 0.5em;
}

#login input[type="submit"], #signup input[type="submit"] {
    font-size: 1.5em;
    text-transform: uppercase;
}

#login footer a, #signup footer a {
    color: var(--main-color);
    font-weight: bold;
}

/* Edit profile */

#editProfile {
    display: grid;
    margin: 1em auto;
    max-width: 60em;
}

#editProfile h3 {
    margin: 0.75em 0;
}

#editProfile header {
    grid-area: 1 / 1 / span 1 / span 2;
}

#editProfile #editInfo {
    grid-area: 2 / 1;
}

#editProfile #editCredentials {
    grid-area: 2 / 2;
}

#editProfile input, #editProfile select {
    width: 50%;
    margin-bottom: 0.75em; 
    margin-top: 0.3em;
}

#editProfile label {
    text-decoration: underline;
}

#editProfile input[type="submit"] {
    font-size: 1.25em;
}


/* Houses */

#houses{
    margin: 1em auto;
    max-width: 85em;
}

#houses > ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 20em);
    gap: 1em;
    padding: 0;
}

#houses li {

    box-shadow: var(--simple-shadow); /** pode ser q fique bem **/
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 1em;    
}

#houses figure {
    margin:0;
    overflow: hidden;
    position: relative;
    border-radius: 0.85em 0.85em 0 0;
}

#houses img {
    width: 100%;
}

#houses figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 0.75em;
}

#houses figcaption h3 {
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    padding: 0.75em;
    font-size: 1.25em;
}

#houses figcaption h3:hover {
    white-space: normal; 
}

#houses .houseInfo > * {
    padding: 0 0.75em;
}

.houseInfo {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.houseInfo .priceTag {
    grid-area: 1 / 1;
    justify-self: start;

    margin: 0.5em 0 0 0;
}

.houseInfo .houseLocation {
    grid-area: 2 / 1 / 2 / span 2;   
    justify-self: start;
    margin: 0.75em 0;
}

.houseInfo .guestLimit {
    grid-area: 1 / 2;    
    margin: 0.75em 0;
    justify-self: end;
}



/* Search functionality */

#searchButton {
    position: fixed;
    z-index: 2;
    bottom: 2em; right: 3em;

    padding: 1em;
    font-size: 1.25em;
    background-color: var(--accent-color);
    transition: background-color 200ms ease-in-out;
    
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: var(--strong-shadow);
    cursor: pointer;
}

#searchButton:hover {
    background-color: var(--accent-color-hl);
}


#searchBackground {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0; top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

#searchDialog {
    max-width: 30em;
    margin: 10% auto;
    border-radius: 3px;
    padding: 2em;
    background-color: #fefefe;
    box-shadow: var(--strong-shadow);
}

#searchDialog h3 {
    margin: 0 0 1em 0;
}

#searchDialog form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#searchDialog #locationField {
    grid-area: 1 / 1 / span 1 / span 2;
}

#searchDialog #startDateField {
    grid-area: 2 / 1;
}

#searchDialog #endDateField {
    grid-area: 2 / 2;
}

#searchDialog #countAdults {
    grid-area: 3 / 1;
}

#searchDialog #countChildren {
    grid-area: 4 / 1;
}

#searchDialog #countBabies {
    grid-area: 5 / 1;
}

#searchDialog #maxPriceSlider {
    grid-area: 3 / 2 / span 3 / 2;
}

#searchDialog input {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#searchDialog input[type="submit"] {
    grid-area: 6 / 1 / span 1 / span 2;

    width: auto;
    padding: 0.5em 1em;
    margin: 1em auto 0 auto;
    border-radius: 3px;
    font-size: 1.25em;
}

#startDate {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid gray;
}

#endDate {
    border-radius: 0 3px 3px 0;
}

#maxPriceSlider .priceTag {
    margin: 0;
    text-align: center;
}

.guestCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guestCounter .counterManager {
    grid-area: 1 / 2;
    display: flex;
    align-items: center;
}

.guestCounter .count {
    width: 1em;
    text-align: center;
}

.guestCounter .increaseNum, .guestCounter .decreaseNum {
    width: 1em;
    height: 1em;
    border-radius: 50%;  
    text-align: center;

    border: 2px solid var(--main-color);
    color:  var(--main-color);
    font-size: 0.6em;    
    padding: 1em;
    margin: 0 1em;    
}
